* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  background: linear-gradient(150deg, rgba(7, 32, 99, 1) 51%, rgba(66, 11, 95, 1) 87%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-todo {
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30%;
}

form {
  position: relative;
}

form>input[type=text] {
  width: 300px;
  padding: 4%;
  border-radius: 30px;
  border: none;
  background-color: #EDEEF0;
}

form>input[type=text]:focus {
  outline: none;
  border: none;
}

form>input::placeholder {
  padding-left: 10px;
}

.sub-btn {
  padding: 4%;
  width: 80px;
  border-radius: 30px;
  position: absolute;
  top: 0%;
  background-color: #FE5844;
  right: -4%;
  border: none;
  color: white;
}


.datas>button {
  background-color: transparent;
  border: none;
}


input[type="radio"] {
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  accent-color: #FE5844;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  background-color: #FE5844;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

input[type="radio"]:checked::before {
  content: "✔";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

@media screen and (max-width:426px) {
  form>input[type=text] {
    width: 100%;
    padding: 20px;
  }

  form {
    position: relative;
    display: flex;
  }

  form>input[type=text] {
    padding: 4%;
    border-radius: 30px;
    border: none;
    background-color: #EDEEF0;
    width: 220px;
  }

  form>input[type=text]:focus {
    outline: none;
    border: none;
  }

  form>input::placeholder {
    padding-left: 10px;
  }



}